<!-- templates/admin_pages/add_restaurant.html -->
{% extends 'admin_base.html' %}
{% load widget_tweaks %}


{% block title %}Add Restaurant | Sector Eats{% endblock %}

{% block content %}
<div class="card light-card shadow-sm p-4" style="width: 100%; max-width: 700px; margin: auto;">
  <h3 class="text-center mb-4">Add New Restaurant</h3>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="id_name" class="form-label">Restaurant Name</label>
      {{ form.name|add_class:"form-control" }}
    </div>
    
    <div class="mb-3">
      <label for="id_location" class="form-label">Location</label>
      {{ form.location|add_class:"form-control" }}
    </div>
    
    <div class="mb-3">
      <label for="id_cuisine_type" class="form-label">Cuisine Type</label>
      {{ form.cuisine_type|add_class:"form-control" }}
    </div>
    
    <div class="mb-3">
      <label for="id_contact" class="form-label">Contact</label>
      {{ form.contact|add_class:"form-control" }}
    </div>
    
    <div class="mb-3">
      <label for="id_email" class="form-label">Email</label>
      {{ form.email|add_class:"form-control" }}
    </div>
    
    <div class="mb-3">
      <label for="id_image" class="form-label">Image</label>
      {{ form.image }}
      <img id="preview" style="margin-top: 10px; max-width: 200px; display: none;" />
    </div>
    
    
    <div class="mb-3">
      <label for="id_description" class="form-label">Description</label>
      {{ form.description|add_class:"form-control" }}
    </div>
    
    <div class="mb-3">
      <label class="form-label">Opening Time</label>
      {{ form.opening_time }}
    </div>
    <div class="mb-3">
      <label class="form-label">Closing Time</label>
      {{ form.closing_time }}
    </div>
    
    
    
    <div class="form-check mb-3">
      {{ form.delivery_available|add_class:"form-check-input" }}
      <label for="id_delivery_available" class="form-check-label">Delivery Available</label>
    </div>
    
    <div class="form-check mb-3">
      {{ form.is_active|add_class:"form-check-input" }}
      <label for="id_is_active" class="form-check-label">Active</label>
    </div>
    
    <button type="submit" class="btn btn-dark w-100">Add Restaurant</button>
  </form>
</div>

<!-- JS for image preview -->
<script>
  const input = document.getElementById("id_image");
  const preview = document.getElementById("preview");

  input.addEventListener("change", function () {
    const file = input.files[0];
    if (file) {
      preview.src = URL.createObjectURL(file);
      preview.style.display = "block";
    }
  });
  flatpickr(".flatpickr-time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true
  });
</script>
{% endblock %}
